PORT=5001
MONGO_URI=mongodb://127.0.0.1:27017/gurukul

# Gmail SMTP credentials (App Password recommended)
EMAIL=your-gmail@gmail.com
PASSWORD=your-app-password

SMTP_USER=infogurukul.theinstitute@gmail.com
SMTP_PASS=yckdajqititzlugo
